.sectionBoxForImg {
  display: flex;
  background-color: #f4f5f6;
  padding-left: 345px;
}
.mainContainer {
  padding-top: 80px;
  padding-bottom: 145px;

  > a {
    font-size: 14px;
    line-height: 150%;
  }

  > h1 {
    margin-top: 40px;
    font-size: 72px;
    font-weight: 700;
    line-height: 130%;
    color: #1e212c;
  }

  > p {
    margin-top: 24px;
    font-size: 20px;
    line-height: 150%;
    color: #787a80;
  }
}

.mainImg {
  max-width: 1000px;
  width: 100%;
}
