.h2Partners {
  text-align: center;
  font-size: 46px;
  line-height: 130%;
  font-weight: 700;
}

.partnerBox {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding-bottom: 110px;

  > img {
    max-width: 180px;
    width: 100%;
    height: 64px;
  }
}

.bg_color {
  background-color: #f4f5f6;
}
